<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="mainConsole" target="SYSTEM_OUT">
            <ThreadContextMapFilter onMatch="ACCEPT" onMismatch="DENY">
                <KeyValuePair key="threadType" value="main"/>
            </ThreadContextMapFilter>
            <PatternLayout disableAnsi="false" noConsoleNoAnsi="false"        pattern="%d{HH:mm:ss.SSS} %style{[%t]}{bright,magenta} %highlight{%-5level} %msg%n"/>
        </Console>

        <Console name="workerConsole" target="SYSTEM_OUT">
            <ThreadContextMapFilter onMatch="ACCEPT" onMismatch="DENY">
                <KeyValuePair key="threadType" value="worker"/>
            </ThreadContextMapFilter>
            <PatternLayout disableAnsi="false" noConsoleNoAnsi="false"        pattern="%d{HH:mm:ss.SSS} %style{[%t]}{bright,cyan} %highlight{%-5level} %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="trace">
            <AppenderRef ref="mainConsole"/>
            <AppenderRef ref="workerConsole"/>
        </Root>
    </Loggers>
</Configuration>